
@{
    Layout = null;
}


@model Usuario
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <h2 class="mb-3">Administrador</h2>
    <div class="container d-flex align-items-center justify-content-center vh-100 ">
        <div class="row">

            <div class="col-lg-6">
                <img src="/imgsistema/logo.png" class="img-fluid" />

            </div>
            <div class="col-lg-6">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h2 class="mb-3">Iniciar Sesión</h2>

                    <div class="mb-3">


                        <label asp-for="Correo" class="form-label"></label>
                        <input asp-for="Correo" class="form-control" placeholder="Correo" />


                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>


                    <div class="mb-3">


                        <label asp-for="Contrasena" class="form-label"></label>
                        <input asp-for="Contrasena" class="form-control" placeholder="Contraseña" />


                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                </form>

            </div>
        </div>
    </div>


</body>
</html>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");




    }


}