
body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
}

    .login-container .login-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .login-container .form-control {
        border-radius: 3px;
    }

    .login-container .btn {
        border-radius: 3px;
        background-color: #007bff;
        border: none;
        transition: background-color 0.3s;
    }

        .login-container .btn:hover {
            background-color: #0069d9;
        }

@media (max-width: 576px) {
    .login-container {
        padding: 20px;
        margin-top: 50px;
    }
}


