
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}

@model AppPeliculas.Models.ViewModels.PeliculaVM

@if (Model.pelicula.IdPelicula == 0)
{
    <h1>Agregar Pelicula</h1>
}
else
{
    <h1>Modificar Pelicula</h1>
}

<form class="form-control" asp-action="Upsert" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @if (Model.pelicula.IdPelicula != 0)
                {
                    <input asp-for="pelicula.IdPelicula" class="form-control" hidden />
                    <input asp-for="pelicula.FechaRegistro" class="form-control" hidden />
                    <input asp-for="pelicula.Stock" class="form-control" hidden />
                }

            </div>

            <div class="form-group">
                <label asp-for="pelicula.Imagen" class="control-label"></label>     
                <input asp-for="pelicula.Imagen" class="form-control" hidden />
                <input type="file" name="files" id="imagenId" class="form-control" />
                <span asp-validation-for="pelicula.Imagen" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <label asp-for="pelicula.Titulo" class="control-label"></label>
                <input asp-for="pelicula.Titulo" class="form-control" />
                <span asp-validation-for="pelicula.Titulo" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <label asp-for="pelicula.Descripcion" class="control-label"></label>
                <textarea asp-for="pelicula.Descripcion" class="form-control"></textarea>
                <span asp-validation-for="pelicula.Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="pelicula.Duracion" class="control-label"></label>
                <input asp-for="pelicula.Duracion" type="text" class="form-control" onfocus="(this.type='time')" step="3600" />

                <span asp-validation-for="pelicula.Duracion" class="text-danger"></span>
            </div>

          




           

            <div class="form-group mt-3">
                <label asp-for="pelicula.IdCategoria" class="control-label"></label>
                <select asp-for="pelicula.IdCategoria" asp-items="@Model.ListaCateogoria" class="form-select">
                </select>
                <span asp-validation-for="pelicula.IdCategoria" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="pelicula.IdEstatusPelicula" class="control-label"></label>
                <select asp-for="pelicula.IdEstatusPelicula" asp-items="@Model.ListaEstatus" class="form-select">
                </select>
                <span asp-validation-for="pelicula.IdEstatusPelicula" class="text-danger"></span>
            </div>

            <div>
                @try
                {
                    <div class="d-flex justify-content-center">

                        <p class="m-2 text-black">@TempData["error102"]</p>

                    </div>


                }
                catch
                {

                }
            </div>


        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                @if (Model.pelicula.IdPelicula != 0)
                {

                    <img src="@WcRuta.ImgRuta@Model.pelicula.Imagen" class="img-fluid w-50 h-50" />
                }
            </div>
           
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-start mt-3">
                <a asp-action="Index" class="btn btn-success w-50 m-2">Regresar</a>

                @if (Model.pelicula.IdPelicula == 0)
                {
                    <button type="submit" class="btn btn-primary  w-50  m-2 ">Crear</button>
                }
                else
                {
                    <button type="submit" class="btn btn-danger  w-50  m-2 ">Editar</button>
                }

            </div>
        </div>

    </div>

   



</form>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");




    }


}
